force-app/main/default/flows/Create_Many_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>451</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_To_Increment_Counter_by_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_counter_equal_to_the_screen_number_counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Insert_Contact</name>
        <label>Insert Contact</label>
        <locationX>108</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>InsertContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Detailss.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsertContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Detailss.lastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Contact_Bulk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Insert_Contact_Bulk</name>
        <label>Insert Contact Bulk</label>
        <locationX>109</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>InsertContactBulk</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InsertContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Counter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_counter_equal_to_the_screen_number_counter</name>
        <label>Is counter equal to the screen number counter</label>
        <locationX>448</locationX>
        <locationY>304</locationY>
        <defaultConnector>
            <targetReference>Create_New_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Counter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Number_of_Screen</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Screens</targetReference>
            </connector>
            <label>Check Counter</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_To_Increment_Counter_by_1</name>
        <dataType>Number</dataType>
        <expression>{!Counter}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Many Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Many Contacts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Contacts</name>
        <label>Create New Contacts</label>
        <locationX>629</locationX>
        <locationY>321</locationY>
        <inputReference>InsertContactBulk</inputReference>
    </recordCreates>
    <screens>
        <name>Create_Contact_Screens</name>
        <label>Create Contact Screen</label>
        <locationX>264</locationX>
        <locationY>296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_Contact</targetReference>
        </connector>
        <fields>
            <name>Enter_Detailss</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>LastName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Iteration_using_counter_number</name>
        <label>Iteration using counter/number</label>
        <locationX>471</locationX>
        <locationY>127</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contact_Screens</targetReference>
        </connector>
        <fields>
            <name>Number_of_Screen</name>
            <dataType>Number</dataType>
            <fieldText>Number of Screen</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;please enter greater than 0&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Number_of_Screen}&gt;0</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>296</locationX>
        <locationY>16</locationY>
        <connector>
            <targetReference>Iteration_using_counter_number</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsertContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>InsertContact1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>InsertContactBulk</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varToGetCont</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
