force-app/main/default/flows/Create_Deployment_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>A</name>
        <choiceText>A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A</stringValue>
        </value>
    </choices>
    <choices>
        <name>AB</name>
        <choiceText>AB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AB</stringValue>
        </value>
    </choices>
    <choices>
        <name>AC</name>
        <choiceText>AC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AC</stringValue>
        </value>
    </choices>
    <choices>
        <name>AD</name>
        <choiceText>AD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AD</stringValue>
        </value>
    </choices>
    <choices>
        <name>B</name>
        <choiceText>B</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>B</stringValue>
        </value>
    </choices>
    <choices>
        <name>BA</name>
        <choiceText>BA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BA</stringValue>
        </value>
    </choices>
    <choices>
        <name>BB</name>
        <choiceText>BB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BB</stringValue>
        </value>
    </choices>
    <choices>
        <name>BC</name>
        <choiceText>BC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BC</stringValue>
        </value>
    </choices>
    <choices>
        <name>C</name>
        <choiceText>C</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>C</stringValue>
        </value>
    </choices>
    <choices>
        <name>Failed</name>
        <choiceText>Failed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Failed</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_Progress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_1</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other_1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other_2</name>
        <choiceText>Other_2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other_2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Planned</name>
        <choiceText>Planned</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planned</stringValue>
        </value>
    </choices>
    <choices>
        <name>Successful</name>
        <choiceText>Successful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Successful</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Create Deployment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Deployment Record</label>
    <loops>
        <name>LoopOverOpportunity</name>
        <label>LoopOverOpportunity</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>OpportunityRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <noMoreValuesConnector>
            <targetReference>Deployment_Form</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account_Records</name>
        <label>Account Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityRecords</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>OpportunityRecords</name>
        <label>OpportunityRecords</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverOpportunity</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Deployment_Form</name>
        <label>Deployment Form</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Application_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Application_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Application Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>DeploymentFrequency__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Repositoryy</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Repository</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>DeploymentFrequency__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Repository__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Image_Id</name>
            <choiceReferences>BA</choiceReferences>
            <choiceReferences>BB</choiceReferences>
            <choiceReferences>BC</choiceReferences>
            <choiceReferences>Other_2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Image Id</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_4</name>
            <dataType>String</dataType>
            <fieldText>Other</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Image_Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Other_2</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Planned</choiceReferences>
            <choiceReferences>In_Progress</choiceReferences>
            <choiceReferences>Successful</choiceReferences>
            <choiceReferences>Failed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Planned</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Related_Defect_s</name>
            <dataType>String</dataType>
            <fieldText>Related Defect(s)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Failed</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Time_to_restore</name>
            <dataType>String</dataType>
            <fieldText>Time to restore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
