force-app/main/default/flows/Deployment_Frequency_Successfully.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>BA</name>
        <choiceText>BA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BA</stringValue>
        </value>
    </choices>
    <choices>
        <name>BB</name>
        <choiceText>BB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BB</stringValue>
        </value>
    </choices>
    <choices>
        <name>BC</name>
        <choiceText>BC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Failed</name>
        <choiceText>Failed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Failed</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_Progress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Planned</name>
        <choiceText>Planned</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planned</stringValue>
        </value>
    </choices>
    <choices>
        <name>Successful</name>
        <choiceText>Successful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Successful</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_update_create</name>
        <label>Decision update create</label>
        <locationX>583</locationX>
        <locationY>200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>updatee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Deployments.Application_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Application_Account.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateDeployment</targetReference>
            </connector>
            <label>updatee</label>
        </rules>
        <rules>
            <name>createe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Deployments.Application_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Application_Account.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateDeployment</targetReference>
            </connector>
            <label>createe</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_opp</name>
        <collectionReference>get_opp_rec</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Opportunity</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Deployment Frequency Successfully {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deployment Frequency Successfully</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateDeployment</name>
        <label>CreateDeployment</label>
        <locationX>732</locationX>
        <locationY>117</locationY>
        <inputAssignments>
            <field>Application_Account__c</field>
            <value>
                <elementReference>Application_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_Id__c</field>
            <value>
                <elementReference>ImageId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunities__c</field>
            <value>
                <elementReference>Related_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_to_restore__c</field>
            <value>
                <elementReference>Time_to_restore</elementReference>
            </value>
        </inputAssignments>
        <object>DeploymentFrequency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>All_Deployments</name>
        <label>All Deployments</label>
        <locationX>462</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_update_create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application_Account.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DeploymentFrequency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opp_rec</name>
        <label>get opp rec</label>
        <locationX>161</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application_Account.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateDeployment</name>
        <label>updateDeployment</label>
        <locationX>669</locationX>
        <locationY>309</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application_Account.recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Account__c</field>
            <value>
                <elementReference>Application_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_Id__c</field>
            <value>
                <elementReference>ImageId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunities__c</field>
            <value>
                <elementReference>Related_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_to_restore__c</field>
            <value>
                <elementReference>Time_to_restore</elementReference>
            </value>
        </inputAssignments>
        <object>DeploymentFrequency__c</object>
    </recordUpdates>
    <screens>
        <name>Deployment_Screen</name>
        <label>Deployment Screen</label>
        <locationX>161</locationX>
        <locationY>73</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_opp_rec</targetReference>
        </connector>
        <fields>
            <name>Application_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Application Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>DeploymentFrequency__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Application_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ImageId</name>
            <choiceReferences>BA</choiceReferences>
            <choiceReferences>BB</choiceReferences>
            <choiceReferences>BC</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ImageId</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Planned</choiceReferences>
            <choiceReferences>In_Progress</choiceReferences>
            <choiceReferences>Successful</choiceReferences>
            <choiceReferences>Failed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Planned</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Time_to_restore</name>
            <dataType>String</dataType>
            <fieldText>Time to restore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opp_screen</name>
        <label>Opp screen</label>
        <locationX>326</locationX>
        <locationY>194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>All_Deployments</targetReference>
        </connector>
        <fields>
            <name>App_Account</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Application_Account.recordName</elementReference>
            </defaultValue>
            <fieldText>Application Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Image_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ImageId</elementReference>
            </defaultValue>
            <fieldText>Image Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Statuss</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Status</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Related_Opportunity</name>
            <choiceReferences>choice_opp</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>choice_opp</elementReference>
            </defaultValue>
            <fieldText>Related_Opportunities</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Time_to_restores</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Time_to_restore</elementReference>
            </defaultValue>
            <fieldText>Time to restore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Note</name>
            <defaultValue>
                <stringValue>{!Notes}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>306</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Deployment_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accessDeploymentObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>DeploymentFrequency__c</objectType>
    </variables>
    <variables>
        <name>currentItem_cf</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DeploymentFrequency__c</objectType>
    </variables>
    <variables>
        <name>DeployRecordsafterloop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DeploymentFrequency__c</objectType>
    </variables>
    <variables>
        <name>updateEle</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DeploymentFrequency__c</objectType>
    </variables>
</Flow>
