force-app/main/default/flows/Deployment_Frequency_Successfully.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Planned</name>
        <choiceText>Planned</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planned</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_update_create</name>
        <label>Decision update create</label>
        <locationX>537</locationX>
        <locationY>283</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>updatee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Deployments.Application_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Application_Account.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateDeployment</targetReference>
            </connector>
            <label>updatee</label>
        </rules>
        <rules>
            <name>createe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>All_Deployments.Application_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Application_Account.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateDeployment</targetReference>
            </connector>
            <label>createe</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_opp</name>
        <collectionReference>get_opp_rec</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Opportunity</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ImageIdChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Image_Id__c</picklistField>
        <picklistObject>DeploymentFrequency__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>DeploymentFrequency__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Deployment Frequency Successfully {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deployment Frequency Successfully</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateDeployment</name>
        <label>CreateDeployment</label>
        <locationX>698</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Copy_1_of_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Application_Account__c</field>
            <value>
                <elementReference>Application_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_Id__c</field>
            <value>
                <elementReference>ImageId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunities__c</field>
            <value>
                <elementReference>Related_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_to_restore__c</field>
            <value>
                <elementReference>Time_to_restore</elementReference>
            </value>
        </inputAssignments>
        <object>DeploymentFrequency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>All_Deployments</name>
        <label>All Deployments</label>
        <locationX>543</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_update_create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application_Account.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DeploymentFrequency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opp_rec</name>
        <label>get opp rec</label>
        <locationX>337</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application_Account.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateDeployment</name>
        <label>updateDeployment</label>
        <locationX>375</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application_Account.recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Account__c</field>
            <value>
                <elementReference>Application_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_Id__c</field>
            <value>
                <elementReference>ImageId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunities__c</field>
            <value>
                <elementReference>Related_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_to_restore__c</field>
            <value>
                <elementReference>Time_to_restore</elementReference>
            </value>
        </inputAssignments>
        <object>DeploymentFrequency__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Record</name>
        <label>Copy 1 of Record</label>
        <locationX>699</locationX>
        <locationY>425</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Account_Applicationss</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Application_Account.recordName</elementReference>
            </defaultValue>
            <fieldText>Account Application</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Statusss</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Status</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Image_Idss</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ImageId</elementReference>
            </defaultValue>
            <fieldText>Image Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Related_Opportunityy</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Related_Opportunity</elementReference>
            </defaultValue>
            <fieldText>Related Opportunity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Time_to_restoress</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Time_to_restore</elementReference>
            </defaultValue>
            <fieldText>Time to restore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Notess</name>
            <defaultValue>
                <stringValue>{!Notes}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deployment_Screen</name>
        <label>Deployment Screen</label>
        <locationX>218</locationX>
        <locationY>151</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_opp_rec</targetReference>
        </connector>
        <fields>
            <name>Application_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Application Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>DeploymentFrequency__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Application_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ImageId</name>
            <choiceReferences>ImageIdChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ImageId</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>StatusChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Planned</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Time_to_restore</name>
            <dataType>String</dataType>
            <fieldText>Time to restore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opp_screen</name>
        <label>Opp screen</label>
        <locationX>444</locationX>
        <locationY>151</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>All_Deployments</targetReference>
        </connector>
        <fields>
            <name>App_Account</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Application_Account.recordName</elementReference>
            </defaultValue>
            <fieldText>Application Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Image_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ImageId</elementReference>
            </defaultValue>
            <fieldText>Image Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Statuss</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Status</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Related_Opportunity</name>
            <choiceReferences>choice_opp</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>choice_opp</elementReference>
            </defaultValue>
            <fieldText>Related_Opportunities</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Time_to_restores</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Time_to_restore</elementReference>
            </defaultValue>
            <fieldText>Time to restore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Note</name>
            <defaultValue>
                <stringValue>{!Notes}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Total_Related_Opp_Amount</name>
            <dataType>Number</dataType>
            <fieldText>Total Related Opp Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record</name>
        <label>Record</label>
        <locationX>377</locationX>
        <locationY>420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Account_Applicationss</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Application_Account.recordName</elementReference>
            </defaultValue>
            <fieldText>Account Application</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Statusss</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Status</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Image_Idss</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ImageId</elementReference>
            </defaultValue>
            <fieldText>Image Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Related_Opportunityy</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Related_Opportunity</elementReference>
            </defaultValue>
            <fieldText>Related Opportunity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Time_to_restoress</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Time_to_restore</elementReference>
            </defaultValue>
            <fieldText>Time to restore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notess</name>
            <defaultValue>
                <stringValue>{!Notes}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>306</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Deployment_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
