force-app/main/default/flows/Deployment_Frequency.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>BA</name>
        <choiceText>BA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BA</stringValue>
        </value>
    </choices>
    <choices>
        <name>BB</name>
        <choiceText>BB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BB</stringValue>
        </value>
    </choices>
    <choices>
        <name>BC</name>
        <choiceText>BC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Failed</name>
        <choiceText>Failed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Failed</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_Progress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Planned</name>
        <choiceText>Planned</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planned</stringValue>
        </value>
    </choices>
    <choices>
        <name>Successful</name>
        <choiceText>Successful</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Successful</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>choice_opp</name>
        <collectionReference>get_opp_rec</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Opportunity</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Deployment Frequency {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deployment Frequency</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Deployment_Record</name>
        <label>Create Deployment Record</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>get_dep_rec</targetReference>
        </connector>
        <inputAssignments>
            <field>Application_Account__c</field>
            <value>
                <elementReference>Application_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_Id__c</field>
            <value>
                <elementReference>ImageId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_to_restore__c</field>
            <value>
                <elementReference>Time_to_restore</elementReference>
            </value>
        </inputAssignments>
        <object>DeploymentFrequency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_dep_rec</name>
        <label>get dep rec</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_opp_rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DeploymentFrequency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opp_rec</name>
        <label>get opp rec</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_dep_rec.Application_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Deployment_Record</name>
        <label>Update Deployment Record</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Application_Account__c</field>
            <value>
                <elementReference>get_dep_rec.Application_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Image_Id__c</field>
            <value>
                <elementReference>get_dep_rec.Image_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>get_dep_rec.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunities__c</field>
            <value>
                <elementReference>Related_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>get_dep_rec.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_to_restore__c</field>
            <value>
                <elementReference>get_dep_rec.Time_to_restore__c</elementReference>
            </value>
        </inputAssignments>
        <object>DeploymentFrequency__c</object>
    </recordUpdates>
    <screens>
        <name>Deployment_Screen</name>
        <label>Deployment Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Deployment_Record</targetReference>
        </connector>
        <fields>
            <name>Application_Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Application Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>DeploymentFrequency__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Application_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ImageId</name>
            <choiceReferences>BA</choiceReferences>
            <choiceReferences>BB</choiceReferences>
            <choiceReferences>BC</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ImageId</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>Planned</choiceReferences>
            <choiceReferences>In_Progress</choiceReferences>
            <choiceReferences>Successful</choiceReferences>
            <choiceReferences>Failed</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Planned</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Time_to_restore</name>
            <dataType>String</dataType>
            <fieldText>Time to restore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opp_screen</name>
        <label>Opp screen</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Deployment_Record</targetReference>
        </connector>
        <fields>
            <name>App_Account</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_dep_rec.Application_Account__c</elementReference>
            </defaultValue>
            <fieldText>Application Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Image_Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_dep_rec.Image_Id__c</elementReference>
            </defaultValue>
            <fieldText>Image Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Statuss</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_dep_rec.Status__c</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Related_Opportunity</name>
            <choiceReferences>choice_opp</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>choice_opp</elementReference>
            </defaultValue>
            <fieldText>Related_Opportunities</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Time_to_restores</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>get_dep_rec.Time_to_restore__c</elementReference>
            </defaultValue>
            <fieldText>Time to restore</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Note</name>
            <defaultValue>
                <stringValue>{!get_dep_rec.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Deployment_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Acc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Account_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>dep_rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>DeploymentFrequency__c</objectType>
    </variables>
</Flow>
