force-app/main/default/flows/Feedback_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>Happy</name>
        <choiceText>Happy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Happy</stringValue>
        </value>
    </choices>
    <choices>
        <name>May_be</name>
        <choiceText>May be</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>May be</stringValue>
        </value>
    </choices>
    <choices>
        <name>Not_Happy</name>
        <choiceText>Not Happy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Happy</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Happy_Create_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Feedback</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Happy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity_Record</targetReference>
            </connector>
            <label>Happy Create Opportunity</label>
        </rules>
        <rules>
            <name>Not_Happy_Create_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Feedback</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Not_Happy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Record</targetReference>
            </connector>
            <label>Not Happy Create Case</label>
        </rules>
        <rules>
            <name>May_Bee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Feedback</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>May_be</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feedback_Reply</targetReference>
            </connector>
            <label>May Bee</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Feedback Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Feedback Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_Record</name>
        <label>Create Case Record</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Copy_1_of_Feedback_Reply</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity_Record</name>
        <label>Create Opportunity Record</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Feedback_Replyy</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Feedback_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Copy_1_of_Feedback_Reply</name>
        <label>Copy 1 of Feedback Reply</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Displayy</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(25, 225, 45);&quot;&gt;“Thanks for providing your valuable feedback&quot;&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Feedback_Page</name>
        <label>Feedback Page</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <fields>
            <name>Customer_Name</name>
            <dataType>String</dataType>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Feedback_Date</name>
            <dataType>Date</dataType>
            <fieldText>Feedback Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Feedback</name>
            <choiceReferences>Happy</choiceReferences>
            <choiceReferences>Not_Happy</choiceReferences>
            <choiceReferences>May_be</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Feedback</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Feedback_Reply</name>
        <label>Feedback Reply</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(44, 237, 22); font-size: 18px; font-family: serif;&quot;&gt;We will do our best to improve the services&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Feedback_Replyy</name>
        <label>Feedback Reply</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Displayy</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(25, 225, 45);&quot;&gt;“Thanks for providing your valuable feedback&quot;&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Feedback_Page</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
