force-app/main/default/flows/FilterNonDuplicateRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>DecideCloneOrNot</name>
        <label>DecideCloneOrNot</label>
        <locationX>396</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>LoopThroughRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopThroughRecords.Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LoopThroughRecords.Name__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateObj2Records</targetReference>
            </connector>
            <label>Clone</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsClone</name>
        <dataType>Boolean</dataType>
        <expression>ISCLONE()</expression>
    </formulas>
    <interviewLabel>FilterNonDuplicateRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FilterNonDuplicateRecords</label>
    <loops>
        <name>LoopThroughRecords</name>
        <label>LoopThroughRecords</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>getObject1Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DecideCloneOrNot</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateObj2Records</name>
        <label>CreateObj2Records</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>LoopThroughRecords</targetReference>
        </connector>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>LoopThroughRecords.Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Object_2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getObject1Records</name>
        <label>getObject1Records</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughRecords</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Object_1__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getObject1Records</targetReference>
        </connector>
        <object>Object_1__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentItem_FilterNonDuplicateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Object_1__c</objectType>
    </variables>
    <variables>
        <name>currentItem_FilterRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Object_1__c</objectType>
    </variables>
    <variables>
        <name>currentItem_FilterRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Object_1__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Object_1__c</objectType>
    </variables>
    <variables>
        <name>StoreNonDuplicateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Object_1__c</objectType>
    </variables>
</Flow>
